@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --primarycolor: #D9008D;
    --blackcolor: #000;
    --whitecolor: #fff;

}

body {
    font-family: 'Fredoka One', sans-serif;
    margin: 0;
    padding: 40px;
    text-align: center;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    /* Pour aligner à gauche et à droite */
    align-items: center;
    padding: 10px 60px;
}

.site-title {
    font-size: 38px;
    font-weight: bold;
    color: var(--primarycolor);
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    /* Ou une autre couleur */
    font-size: 16px;
}

.navbar ul li a:hover {
    color: #007BFF;
    /* Changer la couleur au survol */
}