@import url(./global.css);

.container {
    background: var(--whitecolor);
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--primarycolor);
}

h2 {
    color: #333;
    font-size: 24px;
}

p {
    font-size: 16px;
    color: #555;
}

.button {
    background-color: var(--primarycolor);
    color: var(--whitecolor);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
}

.button:hover {
    background-color: var(--primarycolor);
}